.header {
    margin: 0 auto 60px;
    width: 100%;
    padding-top: 65px;
}
.header__seo-title {
    display: none;
}
.header__title {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 102px;
    height: 212px;
    max-width: 776px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}
.header__title_left-up {
    text-align: left;
}
.header__title_right-down {
    text-align: right;
}
@media screen and (max-width: 900px) {
    .header__title {
        max-width: 244px;
        font-size: 32px;
    }
}