.slider {
    width: 100%;
    position: relative;
    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        transition: transform 0.5s ease 0s;
    }
    .slider__btn {
        z-index: 2;
        position: absolute;
        width: 10px;
        height: 17px;
        border: none;
        cursor: pointer;
        top: 46%;
        background-color: transparent;
        background-repeat: no-repeat;
        &:hover {
            opacity: 0.6;
        }
        &_disable {
            cursor: default;
            opacity: 0.4;
        }
        &_left {
            left: -27px;
            background-image: url(../../assets/image/icons/arrow-left.png);
        }
        &_right {
            right: -27px;
            background-image: url(../../assets/image/icons/arrow-right.png);
        }
    }
    &__wrapper {
        overflow: hidden;
    }
    &__item {
        height: 238px;
        width: 174px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        background-color: #373AF5;
        border: 2px solid #373AF5;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
        border-radius: 8px;
        margin-right: 10px;
        &:last-of-type {
            margin-right: 0;
        }
    }
}
.slider__date {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #FFFFFF;
}
.slider__degree {
    margin: 0;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
    align-self: flex-end;
}

@media screen and (max-width: 800px) {

    .slider__list {
        overflow-x: auto;
    }
    .slider__item {
        width: 238px;
        margin-right: 16px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .slider__btn {
        display: none;
    }
}